@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ae1a28;
    color: #15070e;
    background-image: url(./img/scarlet.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15070e;
    background-image: url(./img/headerwanda.jpg);
    color: #f0decb;
    height: 10vh;
    background-size: cover;
    backdrop-filter: blur(15px);
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 6vw;
    padding: 6vw 2vw;
}
.gallery-items{
    width: 320px;
    height: 180px;
    border: 5px solid #c1816c;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 0;
    border-radius: 5px;
}
.gallery-container img{
    width: 310px;
    height: 170px;
    display: flex;
    position: relative;
    top: -18px;
    justify-content: center;
}
.gallery-container p{
    display: flex;
    position: relative;
    align-items: center;
    top: -35px;
    justify-content: center;
    background-color: #d01111;
    border-radius: 5px;
    color: #f0decb;
}
a:link{
    text-decoration: none;
    text-decoration-color: #15070e;
}
a:hover{
    scale: 1.05;
    transition: 0.3s;
}
.gallery-items{
    width: 320px;
    height: 180px;
    border: 5px solid #c1816c;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 0;
    border-radius: 5px;
}
.gallery-items iframe {
    width: 100%;
    height: 100%;
    position: relative;
    top: -18px;

}
